html{
    background-color: crimson;
}

.container{
    display: flex;
    background-color: cyan;
    width: 100%;
    padding: 40px;
}

.row{
    width: 88%;
    display: flex;
    flex-direction: row;    
}
.col-50{
    width: 50%;
    margin: 50px;
}