html{
    background-color: rgb(206, 203, 203); 
}

.container{
    display: flex;
    width: 95%;
    padding: 30px; 
    margin: auto;
    margin-top: 60px;
}

.row{
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.col-50{
    width: 60%;
    margin: 10px;
}

.col-50 div {
    text-decoration: none;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

.col-50 div a {
    text-decoration: none;
    color: gold;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 620;
    margin-left: 8px;
}

.col-50 div p {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 620;
    margin-left: 8px;
}

.col-50 div div p {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 620;
    margin-left: -33px;
}
.cont-image{
    width: 100%;
    margin: 0;
    padding: 0; 
    justify-content: center;
    display: flex;

}

.cont-image img {
    width: 80%;
    justify-content: center;
    display: flex;
}